div.axis-field-checkboxgroup {
    display: table;
    position: relative;
    width: 875px;
    border-radius: 5px;
    border: 1px solid #b8b8b8;
    background-color: #ffffff;
    box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.2);
}

/* label */
div.axis-field-checkboxgroup div.label {
    display: table-cell;
    vertical-align: middle;
    width: 180px;
    padding: 11.25px 0 11.25px 11.25px;
}
div.axis-field-checkboxgroup div.label label {
    display: block;
    width: 167.5px;
    white-space: nowrap;
    overflow: hidden;
}
div.axis-field-checkboxgroup div.label label.required {
    font-weight: bold;
}

/* checkboxgroup */
div.axis-field-checkboxgroup div.checkboxes {
    display: table-cell;
    padding: 11.25px 11.25px 11.25px 0;
}
div.axis-field-checkboxgroup div.checkboxes div.inner {
    max-height: 100px;
    overflow: hidden;
    overflow-y: auto;
}
div.axis-field-checkboxgroup div.checkboxes div.checkbox {
    display: inline-block;
}
div.axis-field-checkboxgroup div.checkboxes div.checkbox label {
    vertical-align: text-top;
    margin: 0 15px 0 8.75px;
}
