div.axis-field-date {
    position: relative;
    width: 875px;
    overflow: hidden;
    border-radius: 5px;
    border-radius: 5px 0 0 5px;
}

/* label */
div.axis-field-date label {
    display: table-cell;
    overflow: hidden;
    width: 175px;
    height: 23.75px;
    line-height: 23.75px;
    padding-left: 12.5px;
    color: #252525;
    background-color: #d7e0dA;
    border: 1px solid #b2b2b2;
    border-radius: 4px 0 0 4px;
    box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.2);
}
div.axis-field-date label.required {
    font-weight: bold;
}

/* date */
div.axis-field-date div {
    display: table-cell;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
div.axis-field-date div input {
    min-width: 87.5px;
    height: 26.25px;
}
