.project-landing{
	position:relative;
	height:620px;
	background-color:rgba(226,229,222,1);
	padding-top:2em;
	text-align:center;
}

.project-landing .prev-arrow{
	margin:1rem;
}

.project-landing .next-arrow{
	margin:1rem;
}

.project-landing .grid-icon{
	position:absolute;
	left:1em;
	bottom:1em;
}