div.video-editor {
    display: block;
    position: relative;
    width: 919px;
    min-width: 918.75px;
    min-height: 400px;
    display: block;
    background: #262626;
    opacity: 0;
    border-radius: 10pt;
    box-shadow: 0 3pt 10pt 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 3pt 10pt 0 rgba(0, 0, 0, 0.4);
}

/* resizable handle position */
div.video-editor .ui-resizable-se {
    right: 5px;
    bottom: 5px;
}

/* head */
div.video-editor div.head {
    position: relative;
    height: 63.75px;
    font-family: monospace;
    font-size: 11.25px;
    font-weight: bold;
    color: #999999;
    background: #262626 url(images/head.png) no-repeat right;
    border-radius: 10pt 10pt 0 0;
}
div.video-editor div.head label {
    text-transform: uppercase;
    cursor: move;
}
div.video-editor div.head a.close {
    display: block;
    position: absolute;
    top: 12.25px;
    right: 10px;
    width: 15px;
    height: 13.75px;
    background: url(images/close.png) no-repeat top;
}
div.video-editor div.head a.close:hover {
    background-position: bottom;
}
div.video-editor div.head a.close span {
    display: none;
}

/* head : video-info */
div.video-editor div.head ul.video-info {
    position: absolute;
    top: 34px;
    right: 285px;
}
div.video-editor div.head ul.video-info li {
    display: block;
    float: left;
    height: 11.25px;
    overflow: hidden;
    text-align: center;
}
div.video-editor div.head ul.video-info li.screen-size {
    width: 148.75px;
}
div.video-editor div.head ul.video-info li.file-size {
    min-width: 116.25px;
}
div.video-editor div.head ul.video-info li.frame-rate {
    min-width: 123.75px;
}

/* head : current-time */
div.video-editor div.head div.current-time {
    position: absolute;
    top: 34px;
    right: 172px;
    cursor: move;
}

/* head : current-frame */
div.video-editor div.head div.current-frame {
    position: absolute;
    top: 34px;
    right: 88px;
    cursor: move;
}

/* player-container */
div.video-editor div.player-container {
    background-color: #262626;
    padding: 0 31.25px;
}
div.video-editor div.player-container div#player {
    height: 331.25px;
    margin: 0 auto 46.25px;
    background-color: #000000;
}

/* player-container : player : buttons */
div.video-editor div.foot ul.buttons {
    margin: 0 auto;
    padding-bottom: 68px;
    width: 360px;
}
div.video-editor div.foot ul.buttons li {
    display: inline;
}
div.video-editor div.foot ul.buttons li a,
div.video-editor div.foot ul.buttons li label {
    float: left;
    width: 30px;
    height: 24px;
    color: white;
    margin-right: 25px;
}
div.video-editor div.foot ul.buttons li label.upload {
    display: block;
    overflow: hidden;
    cursor: pointer;
    background: url(images/upload-button.png) no-repeat left top;
}
div.video-editor div.foot ul.buttons li label.upload input {
    position: relative;
    height: 100%;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
div.video-editor div.foot ul.buttons li a span {
    display: none;
}
div.video-editor div.foot ul.buttons li a.rewind {
    background: url(images/rewind-button.png) no-repeat left top;
}
div.video-editor div.foot ul.buttons li a.prev {
    background: url(images/prev-button.png) no-repeat left top;
}
div.video-editor div.foot ul.buttons li a.play {
    background: url(images/play-button.png) no-repeat left top;
}
div.video-editor div.foot ul.buttons li a.next {
    background: url(images/next-button.png) no-repeat left top;
}
div.video-editor div.foot ul.buttons li a.fast-forward {
    background: url(images/fast-forward-button.png) no-repeat left top;
}
div.video-editor div.foot ul.buttons li a.snapshot {
    margin-right: 0;
    background: url(images/snapshot-button.png) no-repeat left top;
}
div.video-editor div.foot ul.buttons li a:hover,
div.video-editor div.foot ul.buttons li label:hover {
    background-position: left bottom;
}
div.video-editor div.foot ul.buttons li a.pause {
    background-position: right top;
}
div.video-editor div.foot ul.buttons li a.pause:hover {
    background-position: right bottom;
}
div.video-editor div.foot ul.buttons li a.disabled {
    cursor: default;
    background-position: left center;
}
div.video-editor div.foot ul.buttons li a.disabled:hover {
    background-position: left center;
}

/* player-container : tooltip */
div.video-editor div.foot div.tooltip {
    clear: both;
    height: 22.5px;
    line-height: 22.5px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #F8F8F8;
    border-bottom: 1px solid #B8B8B8;
}

/* snapshots */
div.video-editor div.foot div.snapshots {
    position: relative;
    height: 180px;
    padding-top: 6.25px;
    background-color: #F8F8F8;
    overflow-y: hidden;
    overflow-x: auto;
}

/* snapshots : items */
div.video-editor div.foot div.snapshots table {
    position: absolute;
    top: 0;
    height: 176px;
    overflow: auto;
}
div.video-editor div.foot div.snapshots td {
    width: 141px;
    padding: 19px 19px 29px;
    border-right: 1px solid #B8B8B8;
}
div.video-editor div.foot div.snapshots td div.image-container {
    width: 141px;
    height: 84px;
    background: #000000 url('images/loader.gif') no-repeat center;
}
div.video-editor div.foot div.snapshots td div.image-container div.image {
    width: 141px;
    height: 84px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
div.video-editor div.foot div.snapshots td div.buttons {
    height: 21px;
    border: 1px solid #B8B8B8;
    background: url(images/snapshots-item-buttons.png) no-repeat;
}
div.video-editor div.foot div.snapshots td div.buttons ul li {
    display: inline;
}
div.video-editor div.foot div.snapshots td div.buttons ul li a {
    float: left;
    width: 29px;
    height: 21px;
    border-right: 1px solid #B8B8B8;
}
div.video-editor div.snapshots td div.buttons ul li a span {
    display: none;
}
div.video-editor div.foot div.snapshots td div.buttons ul li a.edit-thumbnail {
    background: url(images/snapshots-item-edit-thumbnail-button.png) no-repeat top;
}
div.video-editor div.foot div.snapshots td div.buttons ul li a.edit-image {
    background: url(images/snapshots-item-edit-image-button.png) no-repeat top;
}
div.video-editor div.foot div.snapshots td div.buttons ul li a.delete {
    float: right;
    border-left: 1px solid #B8B8B8;
    border-right: none;
    background: url(images/snapshots-item-delete-button.png) no-repeat top;
}
div.video-editor div.foot div.snapshots td div.buttons ul li a:hover {
    background-position: bottom;
}
div.video-editor div.foot div.snapshots td div.use-image {
    clear: both;
    margin-top: 13px;
    margin-left: 19px;
    height: 19px;
    text-transform: uppercase;
}
div.video-editor div.foot div.snapshots td div.use-image input {
    height: 19px;
    float: left;
}
div.video-editor div.foot div.snapshots td div.use-image label {
    line-height: 19px;
    padding-left: 6px;
}

/* foot */
div.video-editor div.foot {
    position: absolute;
    bottom: 0;
    width: 100%;
}

div.video-editor div.foot div.bottom {
    position: relative;
    height: 26.25px;
    border-top: 1px solid #B8B8B8;
    background: #F8F8F8;
    border-radius: 0 0 10pt 10pt;
}

/* foot : submit */
div.video-editor div.foot a.submit {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: block;
    width: 122.5px;
    height: 25px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 26.25px;
    border-left: 1px solid #B8B8B8;
    border-bottom-right-radius: 10pt;
    font-weight: bold;
    background: -webkit-linear-gradient(#edf2ef 30%, #dbe3dd 50%, #edf2ef);
    font-size: 9.375pt;
    font-family: Arial, Helvetica, sans-serif;
}
div.video-editor div.foot a.submit:hover {
    background: -webkit-linear-gradient(#ecfeee 30%, #dbf0dd 50%, #ecfded);
}

/* foot : email */
div.video-editor div.foot a.email {
    position: absolute;
    top: 7px;
    left: 9px;
    display: block;
    width: 15px;
    height: 10px;
    background: url(images/email-button.png) no-repeat;
}
div.video-editor div.foot a.email span {
    display: none;
}
