.home-page{
	position:relative;
	z-index:10;
}


.home-page .background-image{
	position:relative;
	height:100vh;
	width:100%;
	background-size: cover;
	background-position:center;
}

.home-page .box-container{
	position:absolute;
	bottom:10%;
	width:100%;
}

.home-page .cta-box{
	margin-left:auto;
	margin-right:auto;
}

.home-page .next-arrow{
	position:absolute;
	bottom:4em;
	width:100%;
	text-align:center;
}

.next-arrow{
	cursor: pointer;
}

.container a{
	color: #fff;
	text-decoration: none;
}

@media (min-width: 768px){

	.home-cta-container{
		left:-10%;
		width:40%;
		top:30%;
	}

	.home-cta-container .value-proposition{
		height:300px;
	}

	.home-cta-container .cta-box{
		height:380px;
	}

	.home-cta-container .cta-box{
		width: 22rem;
		/*height: 300px;*/
	}

	.home-cta-container  .call-to-action{
		height: 100%;
	}


}

@media (min-width: 1024px){
	.home-cta-container{
		left:-18%;
		
	}
}
