div.image-editor {
    position: relative;
    display: block;
    width: 941px;
    min-width: 1188px;
    min-height: 400px;
    background: #F8F8F8;
    opacity: 0;
    border-radius: 10pt;
    box-shadow: 0 3pt 10pt 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 3pt 10pt 0 rgba(0, 0, 0, 0.4);
}

/* color-picker button */
a.axis-color-picker {
    display: table;
    position: relative;
}
a.axis-color-picker {
    width: 15px;
    height: 15px;
}
a.axis-color-picker span.color span.shadow span {
    display: none;
}
a.axis-color-picker:hover {
    background-position: bottom;
}
a.axis-color-picker span.color {
    display: block;
    position: absolute;
    width: 15px;
    height: 15px;
}
a.axis-color-picker span.color span.shadow {
    display: block;
    width: 15px;
    height: 15px;
    background: url(images/color-btn-shadow.png) no-repeat;
}

/* resizable handle position */
div.image-editor .ui-resizable-se {
    right: 5px;
    bottom: 5px;
}

/* head */
div.image-editor div.head {
    position: relative;
    height: 80px;
    cursor: default;
}

/* head : jquery-modal-draggable */
div.image-editor div.head div.jquery-modal-draggable {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 47.5px;
}

/* head : close */
div.image-editor div.head a.close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 13.75px;
    background: url(images/close.png) no-repeat top;
}
div.image-editor div.head a.close:hover {
    background-position: bottom;
}
div.image-editor div.head a.close span {
    display: none;
}

/* head : tooltip */
div.image-editor div.head div.tooltip {
    position: absolute;
    bottom: 28px;
    left: 9px;
    font-size: 10pt;
    font-weight: bold;
    white-space: nowrap;
}

/* head : buttons */
div.image-editor div.head div.buttons {
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 25px;
    background: url(images/buttons.png);
    border-top: 1px solid #B8B8B8;
    border-bottom: 1px solid #B8B8B8;
}

/* head : buttons : general */
div.image-editor div.head div.buttons ul.general {
    float: left;
}
div.image-editor div.head div.buttons ul.general li {
    display: inline;
}
div.image-editor div.head div.buttons ul.general li a,
div.image-editor div.head div.buttons ul.general li div {
    float: left;
    width: 31px;
    height: 25px;
    border-right: 1px solid #B8B8B8;
    overflow: hidden;
}
div.image-editor div.head div.buttons ul.general li a span {
    display: none;
}
div.image-editor div.head div.buttons ul.general li a.download {
    background: url(images/download-button.png) no-repeat top;
}
div.image-editor div.head div.buttons ul.general li a.revert {
    background: url(images/revert-button.png) no-repeat top;
}
div.image-editor div.head div.buttons ul.general li a.image-loader {
    background: url(images/image-loader-button.png) no-repeat top;
}
div.image-editor div.head div.buttons ul.general li a.upload {
    background: url(images/upload-button.png) no-repeat top;
}

div.image-editor div.head div.buttons ul.general li div.upload {
    background: url(images/upload-button.png) no-repeat top;
}
div.image-editor div.head div.buttons ul.general li div.upload input {
    opacity: 0;
}

div.image-editor div.head div.buttons ul.general li a.transform {
    background: url(images/transform-button.png) no-repeat top;
}
div.image-editor div.head div.buttons ul.general li a.scale {
    background: url(images/scale-button.png) no-repeat top;
}
div.image-editor div.head div.buttons ul.general li a.move {
    background: url(images/move-button.png) no-repeat top;
}
div.image-editor div.head div.buttons ul.general li a.crop {
    background: url(images/crop-button.png) no-repeat top;
}
div.image-editor div.head div.buttons ul.general li a.rotate {
    background: url(images/rotate-button.png) no-repeat top;
}
div.image-editor div.head div.buttons ul.general li a:hover {
    background-position: left -50px;
}
div.image-editor div.head div.buttons ul.general li a.selected {
    background-position: left -75px;
}
div.image-editor div.head div.buttons ul.general li a.disabled {
    cursor: default;
    background-position: left -25px;
}

/* head : buttons : orientation */
div.image-editor div.head div.buttons ul.orientation {
    float: right;
}
div.image-editor div.head div.buttons ul.orientation li {
    display: inline;
}
div.image-editor div.head div.buttons ul.orientation li a {
    float: left;
    width: 31.25px;
    height: 25px;
    border-left: 1px solid #B8B8B8;
}
div.image-editor div.head div.buttons ul.orientation li a span {
    display: none;
}
div.image-editor div.head div.buttons ul.orientation li a.landscape {
    background: url(images/landscape-button.png) no-repeat top;
}
div.image-editor div.head div.buttons ul.orientation li a.portrait {
    background: url(images/portrait-button.png) no-repeat top;
}
div.image-editor div.head div.buttons ul.orientation li a:hover {
    background-position: bottom;
}
div.image-editor div.head div.buttons ul.orientation li a.disabled {
    background-position: center;
}

/* head : image-info */
div.image-editor div.head div.image-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 502.5px;
    border-bottom: 1px solid #B8B8B8;
}
div.image-editor div.head div.image-info div.box {
    float: left;
    height: 68.75px;
    min-width: 101.25px;
    padding: 10px 16.25px 0 16.25px;
    background: #F8F8F8;
    border-left: 1px solid #B8B8B8;
}
div.image-editor div.head div.image-info div.box h3 {
    text-transform: uppercase;
    margin-bottom: 11.25px;
}
div.image-editor div.head div.image-info div.box div {
    padding-bottom: 6.25px;
}
div.image-editor div.head div.image-info div.box div label {
    float: left;
    width: 25px;
}

/* middle */
div.image-editor div.middle {
    padding: 7.5px;
}
div.image-editor div#canvas {
    background: #666666;
}

/* foot */
div.image-editor div.foot {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 26.25px;
    border-top: 1px solid #B8B8B8;
}
div.image-editor div.foot label {
    text-transform: uppercase;
    line-height: 26.25px;
    color: #333333;
    font-weight: normal;
}
div.image-editor div.foot input {
    height: 15px;
    border: 1px solid #B8B8B8;
}

/* foot : submit */
div.image-editor div.foot a.submit {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: block;
    width: 122.5px;
    height: 25px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 26.25px;
    border-left: 1px solid #B8B8B8;
    border-bottom-right-radius: 10pt;
    font-weight: bold;
    background: -webkit-linear-gradient(#edf2ef 30%, #dbe3dd 50%, #edf2ef);
}
div.image-editor div.foot a.submit:hover {
     background: -webkit-linear-gradient(#ecfeee 30%, #dbf0dd 50%, #ecfded);
}
div.image-editor div.foot a.submit.disabled {
    color: #aaaaaa;
    cursor: default;
    background: none;
}

/* foot : zoom */
div.image-editor div.foot div.zoom {
    display: table;
    float: left;
}
div.image-editor div.foot div.zoom > * {
    display: table-cell;
    vertical-align: middle;
    height: 26px;
}
div.image-editor div.foot div.zoom > label {
    float: left;
    width: 48px;
    padding-left: 13px;
    border-right: 1px solid #B8B8B8;
    background: url(images/zoom-label.png);
    border-radius: 0 0 0 10pt;
}
div.image-editor div.foot div.zoom > a {
    width: 31px;
    border-right: 1px solid #B8B8B8;
}
div.image-editor div.foot div.zoom > a span {
    display: none;
}
div.image-editor div.foot div.zoom > a.zoom-in {
    background: url(images/zoom-in-button.png) no-repeat top;
}
div.image-editor div.foot div.zoom > a.zoom-out {
    background: url(images/zoom-out-button.png) no-repeat top;
}
div.image-editor div.foot div.zoom > a.zoom-fit {
    background: url(images/zoom-fit-button.png) no-repeat top;
}
div.image-editor div.foot div.zoom > a:hover {
    background-position: bottom;
}
div.image-editor div.foot div.zoom > a.disabled {
    background-position: left -26px;
    cursor: default;
}
div.image-editor div.foot div.zoom > div.input-zoom {
    padding: 0 14px 0 6px;
    background: url(images/zoom-percent.png) no-repeat right;
}
div.image-editor div.foot div.zoom > div.input-zoom input {
    width: 46px;
    text-align: center;
}

/* foot : watermark */
div.image-editor div.foot div.watermark {
    display: table;
    padding-left: 6.25px;
}
div.image-editor div.foot div.watermark > * {
    display: table-cell;
    vertical-align: middle;
    height: 26.25px;
    padding-left: 6.25px;
}
div.image-editor div.foot div.watermark div.text input {
    width: 125px;
}
div.image-editor div.foot div.watermark div.size select {
    background: transparent;
    border: none;
}
div.image-editor div.foot div.watermark > div.opacity {
    width: 125px;
}

/* foot : image-options */
div.image-editor div.foot ul.image-options {
    position: absolute;
    top: 0;
    right: 134px;
}
div.image-editor div.foot ul.image-options li {
    display: inline;
}
div.image-editor div.foot ul.image-options li div {
    float: left;
    height: 26.25px;
}
div.image-editor div.foot ul.image-options li label {
    line-height: 26.25px;
    padding-left: 6.25px;
    padding-right: 12.5px;
    text-transform: uppercase;
    vertical-align: middle;
    color: #999999;
}
div.image-editor div.foot ul.image-options li input {
    vertical-align: middle;
}
