div.axis-field-color {
    display: table;
    width: 875px;
    border-radius: 4px;
    background-color: #d7e0dA;
    border: 1px solid #b2b2b2;
    overflow: hidden;
}

/* label */
div.axis-field-color label {
    display: table-cell;
    overflow: hidden;
    width: 175px;
    height: 21.25px;
    line-height: 21.25px;
    padding-left: 12.5px;
    color: #252525;
    border-right: 1px solid #b2b2b2;
    box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.3) inset;
}
div.axis-field-color label.required {
    font-weight: bold;
}

/* color button */
div.axis-field-color a.color-btn {
    display: table-cell;
    position: relative;
    border-right: 1px solid #b2b2b2;
}

div.axis-field-color a.color-btn {
    width: 40px;
    background: url(images/color-btn.png) no-repeat left top;
}
div.axis-field-color a.color-btn:hover {
    background-position: bottom;
}
div.axis-field-color a.color-btn span.color {
    display: block;
    position: absolute;
    left: 3px;
    top: 2px;
    width: 15px;
    height: 15px;
}
div.axis-field-color a.color-btn span.color span.shadow {
    display: block;
    width: 15px;
    height: 15px;
    background: url(images/color-btn-shadow.png) no-repeat;
}
div.axis-field-color a.color-btn span.color span.shadow span {
    display: none;
}

/* color text */
div.axis-field-color span.color-text {
    display: table-cell;
    padding-left: 6.25px;
    text-transform: uppercase;
}
