div.axis-field-image {
    width: 875px;
    height: 101px;
    background: url(images/bg.png) no-repeat;
}

/* content */
div.axis-field-image div.content {
    float: left;
    width: 795px;
    height: 46px;
    cursor: default;
    padding: 6px 10px 6px;
}
div.axis-field-image div.content div.inner {
    overflow: hidden;
    height: 53px;
}
div.axis-field-image div.content div.inner img {
    height: 53px;
}

/* label */
div.axis-field-image label {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 13px;
    line-height: 24px;
    color: #252525;
}
div.axis-field-image label.required {
    font-weight: bold;
}

/* buttons */
div.axis-field-image a.edit {
    display: block;
    float: left;
    width: 28px;
    height: 65px;
    border-left: 1px solid #B2B2B2;
    border-right: 1px solid #B2B2B2;
    background: url(images/edit.png) no-repeat top;
}
div.axis-field-image a.delete {
    display: block;
    float: left;
    width: 28px;
    height: 65px;
    border-left: 1px solid #B2B2B2;
    border-right: 1px solid #B2B2B2;
    background: url(images/delete.png) no-repeat top;
}
div.axis-field-image a:hover {
    background-position: bottom;
}
div.axis-field-image a span {
    display: none;
}
