div.axis-field-date {
    display: table;
    overflow: hidden;
    width: 875px;
    border: 1px solid #b8b8b8;
    border-radius: 4px;
}

/* label */
div.axis-field-date label {
    display: table-cell;
    overflow: hidden;
    width: 175px;
    height: 23.75px;
    line-height: 23.75px;
    padding-left: 12.5px;
    color: #252525;
    background-color: #F8F8F8;
    border-radius: 4px;
    box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.2);
}
div.axis-field-date label.required {
    font-weight: bold;
}

/* date */
div.axis-field-date a {
    display: table-cell;
    height: 23.75px;
    line-height: 23.75px;
    margin: 0;
    padding: 0;
    padding-left: 8.75px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: default;
    background: url(images/bg.png) no-repeat right top;
    border-left: 1px solid #b8b8b8;
    border-radius: 0 5px 5px 0;
}
div.axis-field-date a:hover {
    background-position: right bottom;
}
