div.axis-field-time {
    display: table;
    overflow: hidden;
    width: 875px;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
}

/* label */
div.axis-field-time label {
    display: table-cell;
    overflow: hidden;
    width: 175px;
    height: 24px;
    line-height: 24px;
    padding-left: 13px;
    color: #252525;
    background-color: #F8F8F8;
    box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.2);
}
div.axis-field-time label.required {
    font-weight: bold;
}

/* selector */
div.axis-field-time a.selector {
    display: table-cell;
    padding: 0 24px 0 8px;
    width: 1px;
    text-decoration: none;
    text-transform: uppercase;
    border-left: 1px solid #b2b2b2;
    background: url(images/selector-bg.png) no-repeat right top;
}
div.axis-field-time a.selector:hover {
    background-position: right bottom;
}

/* text */
div.axis-field-time span.text {
    display: table-cell;
    padding: 0 6px;
    border-left: 1px solid #b2b2b2;
    background: url(images/text-bg.png) no-repeat;
}
