div.axis-field-select {
    display: table;
    position: relative;
    width: 875px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #b8b8b8;
    background-color: #d7e0dA;
    box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.2);
}
div.axis-field-select label {
    display: table-cell;
    vertical-align: middle;
    width: 175px;
    height: 24px;
    line-height: 24px;
    padding-left: 13px;
    color: #252525;
    border-right: 1px solid #B2B2B2;
}
div.axis-field-select label span {
    display: block;
    width: 163px;
    white-space: nowrap;
    overflow: hidden;
}
div.axis-field-select label.required {
    font-weight: bold;
}
div.axis-field-select div.input {
    display: table-cell;
}
div.axis-field-select div.input div.inner-input {
    width: 686px;
    overflow: hidden;
    background: #ffffff;
}
div.axis-field-select div.input select {
    display: block;
    border: none;
    background: rgba(0, 0, 0, 0) url(images/arrow.png) no-repeat 661px center;
    border-bottom: 1px solid #b8b8b8;
    width: 713px;
    height: 24px;
}
div.axis-field-select div.input select:last-child {
    border-bottom: none;
}
