div.edit {
    width: 913.75px;
    opacity: 0;
    border-radius: 8px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

/* edit : head */
div.edit div.head {
    position: relative;
    height: 41.25px;
    background-color: #F8F8F8;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid #B8B8B8;
}
div.edit div.head h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 850px;
    padding-left: 18.75px;
    line-height: 41.25px;
    font-size: 17.5pt;
    color: #252525;
}
div.edit div.head a.close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 13.75px;
    background: url(images/close.png) no-repeat top;
}
div.edit div.head a.close span {
    display: none;
}
div.edit div.head a.close:hover {
    background-position: bottom;
}

/* edit : middle */
div.edit div.middle {
    padding: 18.75px 0 0px;
    background-color: #EBEBEB;
    border-bottom: 1px solid #B8B8B8;
    min-height: 50px;
    box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, 0.1);
}
div.edit.preloader div.middle {
    background: #EBEBEB url(images/loader.gif) no-repeat center;
}

/* edit : live-on-site */
div.edit div.live-on-site {
    display: none;
    background: #FFFFFF;
    font-size: 12.5pt;
    padding: 13.75px 0 13.75px 20px;
    border-bottom: 1px solid #B8B8B8;
}
div.edit div.live-on-site label {
    margin-right: 6.25px;
}

/* edit : footer */
div.edit div.footer {
    position: relative;
    height: 8.75px;
    padding-top: 16.25px;
    background: #FFFFFF;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
div.edit div.footer a.submit {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: block;
    width: 123.75px;
    height: 25px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 26.25px;
    border-left: 1px solid #B8B8B8;
    border-bottom-right-radius: 7px;
    font-weight: bold;
    background: -webkit-linear-gradient(#edf2ef 30%, #dbe3dd 50%, #edf2ef);
}
div.edit div.footer a.submit:hover {
    background: -webkit-linear-gradient(#ecfeee 30%, #dbf0dd 50%, #ecfded);
}

/* fields */
div.axis-field {
    width: 875px;
    margin: 0 auto 18.75px;
}
