@font-face {
    font-family: 'ShoCard Caps NF';
    src: url(/axistools/config/fonts/sho-cardcapsnf.svg), url(/axistools/config/fonts/sho-cardcapsnf.ttf);
}
@font-face {
    font-family: 'Avenir Light';
    src: url(/axistools/config/fonts/avenir-light.ttf);
}

div.textarea-editor {
    display: block;
    min-width: 725px;
    display: block;
    background: #F8F8F8;
    opacity: 0;
    border-radius: 10pt;
    box-shadow: 0 3pt 10pt 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 3pt 10pt 0 rgba(0, 0, 0, 0.4);
}

/* resizable handle position */
div.textarea-editor .ui-resizable-se {
    right: 5px;
    bottom: 5px;
}

/* head */
div.textarea-editor div.head {
    position: relative;
    height: 48.75px;
}

/* head : close */
div.textarea-editor div.head a.close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 13.75px;
    background: url(images/close.png) no-repeat top;
}
div.textarea-editor div.head a.close:hover {
    background-position: bottom;
}
div.textarea-editor div.head a.close span {
    display: none;
}

/* middle */
div.textarea-editor div.middle {
    overflow: hidden;
    padding-bottom: 25px;
}
div.textarea-editor div.middle textarea {
    font-size: 13.75pt;
    padding: 6.25pt;
}

/* foot */
div.textarea-editor div.foot {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 26.25px;
    border-top: 1px solid #B8B8B8;
}

/* submit */
div.textarea-editor div.foot a.submit {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: block;
    width: 122.5px;
    height: 25px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 26.25px;
    border-left: 1px solid #B8B8B8;
    border-bottom-right-radius: 10pt;
    font-weight: bold;
    background: -webkit-linear-gradient(#edf2ef 30%, #dbe3dd 50%, #edf2ef);
    font-size: 9.375pt;
    font-family: Arial, Helvetica, sans-serif;
}
div.textarea-editor div.foot a.submit:hover {
    background: -webkit-linear-gradient(#ecfeee 30%, #dbf0dd 50%, #ecfded);
}
