.cta-box{
	position: relative;
	flex-direction: column;
	width: 22rem;
	height: 320px;
	margin-left: auto;
	margin-right: auto;
	color: rgba(212,21,104,1);
	font-size: 1.5rem;
	font-weight: 100;
}

.cta-box.imagebox{
	height: 500px;
}

.cta-box hr{
	text-align: left;
	margin-left: 0;
	border: 0;
	color: rgba(212,21,104,1);
	background-color: rgba(212,21,104,1);
	height: 3px;
	width: 20%;
}

.cta-box .thumbnail{
	position: relative;
	width: 100%;
	height: 220px;
	overflow: hidden;
}

.cta-box .thumbnail img{
	position: relative;
	top:0;
	margin-left: auto;
	margin-right: auto;
}



.cta-box .container{
	position: relative;
	width: 85%;
	height: 200px;
	margin-left: 10%;
	margin-top: 5%;
	text-align: left;
}

.cta-box .message{
	position: relative;
	text-align: left;
	font-size: 2.5rem;
	color: #000;
	height: 100px;
	text-transform: uppercase;
	width: 15rem;
	
}

.cta-box .value-proposition{
	position: absolute;
	width: 97%;
	margin-top:2.5%;
	margin-right:6%;
	background-color: #fff;
	z-index:20;

} 

.cta-box .call-to-action{
	position: absolute;
	right: 0;
	width: 231px;
	height: 100%;
	background-color: rgba(212,21,104,1);
	color: #fff;
	font-family: "minion-pro";
	font-size:1.1rem;
	font-style: italic;

}

.cta-box svg{
	fill: #fff;
	height: .8em;
	float: right;
}

.cta-box .call-to-action .container{
	text-align:center;
	position:absolute;
	bottom:2.5em;
	height:auto;
	z-index: 2999;
}

@media (max-width: 480px){
	.cta-box .call-to-action .container{
		bottom:1rem;
	}
}

@media (min-width: 768px){
	.cta-box{
		width:40rem;
	}
}

@media (min-width: 1024px){
	.cta-box {
		width:960px;
	}
	.cta-box .value-proposition {
		background-color: initial;
	}
	.cta-box .value-proposition .container{
	    background-color: #fff;
    	width: 100%;
    	top: -350px;
    	padding: 50px;
    	margin-left: 0;
    	margin-top: 0;
    	height: 377px;

	}
	.cta-box .call-to-action {
		right:50px;
		height:531px;
	}
	.cta-box .call-to-action .container{
		bottom:1.5em;
	}

}
