#menu-nav{
	display: block;
	position: absolute;
	right: 0;
	width: 100%;
	overflow: hidden;
	height: 100vh;
	padding-top: 1em;
	text-align: center;
	background-color:rgba(226,229,222,1);
	z-index: 90;

}

#menu-nav.sm{
	transition: transform .5s ease;
}

#menu-nav li{
	height: 5rem;
	padding-top: 1em;
}

#menu-nav li a {
	color: #000;
	text-decoration: none;
	transition: all .5s ease;
	font-family: "sofia-pro-soft";
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 2.2rem;
}

#menu-nav li a:hover{
	color:rgba(212,21,104,1);
}

#menu-nav .logo{
	transform: scale(.5);
}

@media (min-width: 768px){
	#menu-nav{
		position: absolute;
		right: 1em;
		width: 70%;
		height: 40px;
		text-align: right;
		display: block;
		transform: none;
		padding-top: 0;
		background-color: #fff;
		font-size: 1em;
	}

	#menu-nav li{
		display: inline-block;
		margin-right: 4em;
		cursor: pointer;
		
	}

	#menu-nav li a {
		font-size: .95em;
	}
	#menu-nav li:hover{
		text-decoration: none;
	}
}