<div id="menu-nav" >
	<ul>
		<li><router-link to="/about">About</router-link></li>
		<li><router-link to="/projects">Projects</router-link></li>
		<li><router-link to="/career">Career</router-link></li>
		<li><router-link to="/contact">Contact</router-link></li>
		<!-- <li><router-link to="/style-guide">[ Style Guide ]</router-link></li> -->
	</ul>
</div>