html {
    background-color: #333333;
}

/* preloader */
div.main.preloader div.form {
    display: none;
}

/*
 * request-password
 */
div.go-back {
    position: absolute;
    right: 17px;
    bottom: 57px;
    text-align: right;
}
div.go-back h3 {
    text-transform: uppercase;
    margin-bottom: 6.25px;
    font-size: 11.25pt;
}
div.go-back a {
    color: #790000;
    text-decoration: none;
    font-weight: bold;
    font-size: 8.75pt;
}

/*
 * form
 */
div.form {
    margin: -46.25px auto 0;
    border-bottom: 1px solid #D2D2D2;
}
div.form h1 {
    font-size: 10pt;
    text-align: center;
    text-transform: uppercase;
    height: 47.5px;
    line-height: 47.5px;
    color: #790000;
    background: url(images/padlock.png) no-repeat right center;
    border-top: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2;
    margin-bottom: 37.5px;
}
div.form p {
    text-align: center;
    font-weight: bold;
    font-size: 10pt;
    margin-bottom: 50px;
}
div.form table {
    margin: 0 auto 46.25px;
}
div.form table td:first-child {
    text-transform: uppercase;
    text-align: right;
    font-size: 8.75pt;
    padding: 0 7.5px 11.25px;
}
div.form table td:last-child {
    padding-right: 28.75px;
}
div.form table td input[type=text] {
    width: 210px;
}
div.form table td select {
    min-width: 210px;
}
div.form table td.remember {
    padding-top: 22.5px;
}
div.form table tr:last-child  td:last-child {
    text-align: center;
    padding-top: 12.5px;
}
div.form input.submit {
    min-width: 87.5px;
    text-transform: uppercase;
}
