div.axis-field-file {
    width: 875px;
}

/* header */
div.axis-field-file div.header {
    border-radius: 4px 4px 0 0;
    border-bottom: none;
    background: url(images/header-bg.png) repeat-x;
    height: 24px;
    line-height: 24px;
    color: #ffffff;
    padding: 0 0 0 7.5pt;
    font-weight: bold;
}

/* body */
div.axis-field-file div.body {
    border: 1px solid #b8b8b8;
    border-top: none;
    padding: 18.75px;
}

/* text */
div.axis-field-file div.text {
    position: relative;
    padding-bottom: 12.5px;
}
div.axis-field-file div.text label {
    display: block;
    width: 98px;
    height: 24px;
    overflow: hidden;
    line-height: 25px;
    padding-left: 12px;
    color: #252525;
    background-color: #F8F8F8;
    text-transform: uppercase;
    background: url(images/label-bg.png) no-repeat;
}
div.axis-field-file div.text.required label {
    font-weight: bold;
}
div.axis-field-file div.text div.input {
    position: absolute;
    top: 0;
    right: 0;
    width: 716.25px;
    height: 22.5px;
    background: #ffffff;
    border-radius: 0 6px 6px 0;
    padding-left: 6.25px;
    border: 1px solid #D2D2D2;
    overflow: hidden;
}
div.axis-field-file div.text div.input input {
    border: none;
    background: none;
    width: 712.5px;
    height: 23.75px;
}
div.axis-field-file div.text div.input input:focus {
    outline: 0;
}

/* bottom table */
div.axis-field-file table td {
    padding-right: 6.25px;
    text-transform: uppercase;
}
div.axis-field-file table td:nth-child(5) {
    text-align: center;
}

/* url */
div.axis-field-file div.url {
    position: relative;
    width: 668.75px;
}
div.axis-field-file div.url label {
    display: block;
    width: 97.5px;
    height: 25px;
    overflow: hidden;
    line-height: 25px;
    padding-left: 12.5px;
    color: #252525;
    background-color: #F8F8F8;
    text-transform: uppercase;
    background: url(images/label-bg.png) no-repeat;
}
div.axis-field-file div.url.required label {
    font-weight: bold;
}
div.axis-field-file div.url div.input {
    position: absolute;
    top: 0;
    right: 0;
    width: 550px;
    height: 22.5px;
    background: #ffffff;
    padding-left: 6.25px;
    border: 1px solid #D2D2D2;
    overflow: hidden;
}
div.axis-field-file div.url div.input input {
    border: none;
    background: none;
    width: 712.5px;
    height: 23.75px;
}
div.axis-field-file div.url div.input input:focus {
    outline: 0;
}

/* upload file */
div.axis-field-file div.upload-file {
    text-transform: uppercase;
}
div.axis-field-file div.upload-file label {
    position: relative;
    display: block;
    overflow: hidden;
    border: 1px solid #B2B2B2;
    background: url(images/upload-btn.png) no-repeat top;
    width: 133px;
    height: 23px;
}
div.axis-field-file div.upload-file label:hover {
    background-position: bottom;
}
div.axis-field-file div.upload-file label span {
    position: absolute;
    display: inline-block;
    left: 26px;
    top: 0;
    line-height: 25px;
}
div.axis-field-file div.upload-file label input {
    position: relative;
    height: 100%;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}

/* selector */
div.axis-field-file div.selector {
    display: block;
}
div.axis-field-file div.selector a {
    display: block;
    margin-left: auto;
    width: 231.25px;
    height: 22.5px;
    background: url(images/selector-btn.png) no-repeat top;
    border: 1px solid #B2B2B2;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 25px;
    color: #404040;
    padding-left: 12.5px;
}
div.axis-field-file div.selector a:hover {
    background-position: bottom;
}
