/**
 * @license
 * MyFonts Webfont Build ID 3320571, 2016-12-13T14:17:10-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed ../../../fonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: HelveticaNeueLTStd-LtIt by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/neue-helvetica/helvetica-46-light-italic/
 * Licensed pageviews: 250,000
 * 
 * Webfont: HelveticaNeueLTStd-HvIt by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/neue-helvetica/helvetica-86-heavy-italic/
 * Licensed pageviews: 250,000
 * 
 * Webfont: HelveticaNeueLTStd-Hv by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/neue-helvetica/helvetica-85-heavy/
 * Licensed pageviews: 250,000
 * 
 * Webfont: HelveticaNeueLTStd-Lt by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/neue-helvetica/helvetica-45-light/
 * Licensed pageviews: 500,000
 * 
 * Webfont: HelveticaNeueLTStd-MdIt by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/neue-helvetica/helvetica-66-medium-italic/
 * Licensed pageviews: 250,000
 * 
 * Webfont: HelveticaNeueLTStd-Md by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/neue-helvetica/helvetica-65-medium/
 * Licensed pageviews: 500,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=3320571
 * ../../../fonts copyright: Copyright &#x00A9; 1988, 1990, 1993, 2002 Adobe Systems Incorporated.  All Rights Reserved. &#x00A9; 1981, 2002 Heidelberger Druckmaschinen AG. All rights reserved.
 * 
 * © 2016 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/32aafb");

  
@font-face {font-family: 'HelveticaNeueLTStd-LtIt';src: url('../../../fonts/32AAFB_0_0.eot');src: url('../../../fonts/32AAFB_0_0.eot?#iefix') format('embedded-opentype'),url('../../../fonts/32AAFB_0_0.woff2') format('woff2'),url('../../../fonts/32AAFB_0_0.woff') format('woff'),url('../../../fonts/32AAFB_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'HelveticaNeueLTStd-HvIt';src: url('../../../fonts/32AAFB_1_0.eot');src: url('../../../fonts/32AAFB_1_0.eot?#iefix') format('embedded-opentype'),url('../../../fonts/32AAFB_1_0.woff2') format('woff2'),url('../../../fonts/32AAFB_1_0.woff') format('woff'),url('../../../fonts/32AAFB_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'HelveticaNeueLTStd-Hv';src: url('../../../fonts/32AAFB_2_0.eot');src: url('../../../fonts/32AAFB_2_0.eot?#iefix') format('embedded-opentype'),url('../../../fonts/32AAFB_2_0.woff2') format('woff2'),url('../../../fonts/32AAFB_2_0.woff') format('woff'),url('../../../fonts/32AAFB_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'HelveticaNeueLTStd-Lt';src: url('../../../fonts/32AAFB_3_0.eot');src: url('../../../fonts/32AAFB_3_0.eot?#iefix') format('embedded-opentype'),url('../../../fonts/32AAFB_3_0.woff2') format('woff2'),url('../../../fonts/32AAFB_3_0.woff') format('woff'),url('../../../fonts/32AAFB_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'HelveticaNeueLTStd-MdIt';src: url('../../../fonts/32AAFB_4_0.eot');src: url('../../../fonts/32AAFB_4_0.eot?#iefix') format('embedded-opentype'),url('../../../fonts/32AAFB_4_0.woff2') format('woff2'),url('../../../fonts/32AAFB_4_0.woff') format('woff'),url('../../../fonts/32AAFB_4_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'HelveticaNeueLTStd-Md';src: url('../../../fonts/32AAFB_5_0.eot');src: url('../../../fonts/32AAFB_5_0.eot?#iefix') format('embedded-opentype'),url('../../../fonts/32AAFB_5_0.woff2') format('woff2'),url('../../../fonts/32AAFB_5_0.woff') format('woff'),url('../../../fonts/32AAFB_5_0.ttf') format('truetype');}
 

/*@font-face {
	font-family: HelveticaNeue;
	src: url("../../../fonts/helveticaneue.otf") format("opentype");
}

@font-face {
	font-family: MinionPro;
	src: url("../../../fonts/Font1_MinionPro-MediumIt.otf") format("opentype");
}

@font-face {
	font-family: SanFrancisco;
	src: url("../../../fonts/system_san_francisco_display_regular-webfont.woff");
}*/

body{
	/*background-color: rgba(226,229,222,1);*/
	background-color: #fff;

	font-family: "sofia-pro-soft";
	font-family: "sofia-pro";
	font-family: "sofia-pro-condensed";
	/*font-family: HelveticaNeueLTStd-Lt;*/
}

h1{
	font-weight:bold;
	font-size:2rem;
	margin:.5rem;
}

h2{
	font-weight:bold;
	font-size:1.5rem;
	margin:.5rem;
}


svg{
	fill: rgba(212,21,104,1);
}


.loader{
	background-color: rgba(212,21,104,1);
	margin-left: auto;
	margin-right: auto;
	height: 5rem;
	width: 200px;
	text-align: center;
	padding: 1em;
	vertical-align: top;
}
