div.axis-field-readonly {
    display: table;
    width: 875px;
    border-radius: 4px;
    background-color: #d7e0dA;
    border: 1px solid #b2b2b2;
    overflow: hidden;
}

/* label */
div.axis-field-readonly label {
    display: table-cell;
    overflow: hidden;
    width: 175px;
    height: 21.25px;
    line-height: 21.25px;
    padding-left: 12.5px;
    color: #252525;
    border-right: 1px solid #b2b2b2;
    box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.3) inset;
    -webkit-box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.3) inset;
}

/* text */
div.axis-field-readonly span {
    display: table-cell;
    padding-left: 6.25px;
}
