.spinner-container{
	position: absolute;
	top:10%;
	left:45%;
	width: 8em;
	height: 8em;
	margin-left: auto;
	margin-right: auto;
	padding-top:1em;
	background-color:#fff;
}

.spinner{
	position:relative;
	border: 2px solid transparent;
	background: linear-gradient(rgba(226,229,222,1),rgba(212,21,104,1));
	background-clip: padding-box;
	margin-left: auto;
	margin-right: auto;
	margin-top:25rem;
	border-radius: 50%;
	width: 5em;
	height: 5em;
	animation: load8 .6s linear infinite;
}

.spinner:after{
	position: absolute;
	top: 2px;
	bottom: 2px;
	left: 2px;
	right: 2px;
	background-color:#fff;
	content: ' ';
	border-radius: 50%;
	z-index: -1;
	width:auto;
	height:auto;

}

.spinner-container .message{
	margin-top: .6em;
	width: 100%;

	margin-left:auto;
	margin-right:auto;
	text-align: center;
	color: rgba(212,21,104,1);
	font-family: HelveticaNeueLTStd-Lt;
	font-weight:200;
	font-size:.8rem;
	animation: pulsefade 1s linear infinite;
}

@keyframes load8{
	0% { 
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

@keyframes pulsefade{
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}