body {
    line-height: 100%;
}

div.order-list {
    display: block;
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f5f8f6;
    padding: 0;
    opacity: 0;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

/* header */
div.order-list div.head {
    position: relative;
    margin: 13.75px 13.75px 0;
}
div.order-list div.head h3 {
    font-size: 13.125pt;
}
div.order-list div.head h4 {
    font-size: 9.375pt;
    padding-bottom: 13.75px;
}

/* header : close button */
div.order-list div.head a.close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 13.75px;
    background: url(images/close.png) no-repeat top;
}
div.order-list div.head a.close span {
    display: none;
}
div.order-list div.head a.close:hover {
    background-position: bottom;
}

/* list */
div.order-list div.list {
    position: relative;
    max-height: 750px;
    border: 1px solid #b8b8b8;
    overflow-x: hidden;
    overflow-y: auto;
}
div.order-list.preloader div.list {
    min-height: 40px;
    background: url(images/loader.gif) no-repeat center;
}
div.order-list div.list div.guide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.5px;
    background-color: #000000;
    pointer-events: none;
}
div.order-list div.list table {
    width: 100%;
    table-layout: fixed;
}
div.order-list div.list table td {
    border-right: 1px solid #B8B8B8;
    border-bottom: 1px solid #B8B8B8;
    padding: 6.25px 10px 6.25px;
    height: 52.5px;
    vertical-align: top;
    background: url(images/table-row.png) repeat-x;
    cursor: default;
}
div.order-list div.list table td:last-child {
    border-right: none;
}
div.order-list div.list table tr:last-child td {
    border-bottom: none;
}
div.order-list div.list table td div.cell-content {
    overflow: hidden;
    height: 52.5px;
}
div.order-list div.list table td img {
    height: 52.5px;
}

/* list : snapshot */
div.order-list div.list table.snapshot {
    position: absolute;
    top: 25px;
    left: 0;
    opacity: 0.5;
}

/* footer */
div.order-list div.footer {
    position: relative;
    height: 8.75px;
    padding-top: 16.25px;
    background: #FFFFFF;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
div.order-list div.footer a.submit {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: block;
    width: 123.75px;
    height: 25px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 26.25px;
    border-left: 1px solid #B8B8B8;
    border-bottom-right-radius: 7px;
    font-weight: bold;
    background: -webkit-linear-gradient(#edf2ef 30%, #dbe3dd 50%, #edf2ef);
}
div.order-list div.footer a.submit:hover {
    background: -webkit-linear-gradient(#ecfeee 30%, #dbf0dd 50%, #ecfded);
}

canvas.snapshot {
    position: absolute;
    z-index: 1000000;
    opacity: 0.5;
    pointer-events: none;
}
