div.axis-field-text {
    position: relative;
    width: 875px;
    border: 1px solid #b2b2b2;
    overflow: hidden;
    border-radius: 5px;
}
div.axis-field-text label {
    display: block;
    width: 175px;
    height: 23.75px;
    overflow: hidden;
    line-height: 23.75px;
    padding-left: 12.5px;
    color: #252525;
    background-color: #d7e0dA;
    border-right: 1px solid #b2b2b2;
    box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.2);
}
div.axis-field-text label.required {
    font-weight: bold;
}
div.axis-field-text div.input {
    position: absolute;
    top: 0;
    right: 0;
    width: 680px;
    height: 23.75px;
    padding-left: 6.25px;
    border-left: 1px solid #b2b2b2;
    background-color: #ffffff;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
div.axis-field-text div.input input {
    border: none;
    background: none;
    width: 685px;
    height: 23.75px;
}
div.axis-field-text div.input input:focus {
    outline: 0;
}
