
.about h2{
	color: rgba(212,21,104,1);
}

.about h1{

}

.about hr{
	text-align: left;
	margin-left: 10px;
	border: 0;
	color: rgba(212,21,104,1);
	background-color: rgba(212,21,104,1);
	height: 3px;
	width: 3rem;
}

.about p{
	margin-left: 10px;
	line-height: 1.2em;
}

.about .about-image{
	width: 100%;
	height: 30%;
	background-color: #eee;
	background-position: center;
	background-size: cover;
	padding:0;
	margin:0;
}

.about .about-image img{
	padding:0;
	margin:0;
	width:100%;
}

.about-content-container:first-child{
	background-color: rgba(226,229,222,1);	
}

.about-content{
	padding:10%;
	font-family: HelveticaNeueLTStd-Lt;
}

.about-content h2{
	font-family: "sofia-pro-soft";
	margin-left: 0;
	margin-top: 1rem;
	margin-bottom: 1rem;

}

.about-content h1{
	font-family: "sofia-pro-soft";
	margin-left: 0;
}

.about-content hr{
	margin-left: 0;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.about-content-body {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
	flex-direction: column;
	margin-top: 20px;
}


/**** FIX - REMOVES STRAY p TAG FROM CMS ****/
.about-content-body > div.points > p {
	/*display: none;*/
}

.about-content-body > div > .page .column p:first-child {
	margin: 0;
}

.about-content p{
	margin-left: 0;
	margin-top: 20px;
}

.about-content ul{
	list-style: initial;
	margin: initial;
	list-style-type: disc;
	list-style-position: outside;
	padding-left: 15px;
}

.about-content ul li{
	margin-top: 5px;
}

.about-content ul li:first-child {
	margin-top: 0;
}

.about-content ul li p {
	margin: 0;
}

@media (min-width: 768px){
	.about-content{
		position: relative;
		height: 600px;
		width: 100%;
	}

	.about-content-body {
		flex-direction: row;
	}

	.about-content-body > div {
		width: 45%;
	}

	.about-content-body > div.body {
		padding-right: 5%;
	}

	.about-content-body > div.body.full {
		width: 100%;
		padding: 0;
	}

	.about-content-body > div.points {
		padding-left: 5%;
	}

	.about-content ul {
		padding: none;
	}
}
