.down-arrow-button{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(212,21,104,1);
	color: #fff;
	font-family: "minion-pro";
	font-size: 1.1rem;
	font-style: italic;
	
}
.down-arrow-button .text{
	width: 80%;
	float: left;
	text-align: center;
	padding-left: 20%;
	cursor: pointer;
}

.down-arrow-button span{
	display:block;
	position: absolute;
  	top: 50%;
  	transform: translateY(-50%);
}

.down-arrow-button .button{
	font-family: "sofia-pro-soft";
	font-family: "sofia-pro";
	font-family: "sofia-pro-condensed";
	font-style: normal;
	border-style: solid;
	display: block;
	width: 3.5rem;
	float: right;
	text-align: center;
	border-left: 1em solid black;
	/*border-width: 0 1px;*/
	cursor: pointer;
}

#main{
	background-color: #fff;
}