.project-list-container{
	border-top:1px solid #ccc;
}

.project-list-nav{
	display:none;

}

@media (min-width: 768px){
	.project-list-nav{
		display:block;
		position:fixed;
		right:2em;
		top:30%;
	}

	.project-list-nav li{
		display:block;
		width:1.3em;
		height:1.3em;
		cursor: pointer;
		margin-bottom:1em;
		margin-top:1em;	
	}

	.project-list-nav li.selected, .project-list-nav li:hover{	
		background-image: url(../../../svg/project-list-dot-selected.svg);
		background-repeat: no-repeat;
		background-position: center;
	}

	.project-list-nav li a{
		display:block;
		width:20px;
		height:20px;
		background-image: url(../../../svg/project-list-dot.svg);
		background-repeat: no-repeat;
		background-position: center;
	}

}