.project-list{
	display: block;
	position: relative;
	min-height:100vh;
	background-color: rgba(226,229,222,1);
	padding-top: 30px;
	text-align: center;
}

.project-list .thumbnail img{
	width: 100%;
	height: 100%;
}

.project-list .prev{
	width: 18px;
	height: 4rem;
	position: relative;
	top: 2em;
	left: calc(50vw - 9px);
	cursor: pointer;
	z-index: 3001;
	display: block;
}

.project-list .next{
	width:18px;
	height:3rem;
	position:relative;
	top:-11rem;
	left: calc(50vw - 9px);
	cursor: pointer;
	z-index: 3000;
	display: block;
}

.project-list .grid-icon{
	position: absolute;
	left: 1rem;
	bottom: 7rem;
}

@media (min-width: 768px){
	.project-list-container{
		background-color:rgba(226,229,222,1);
	
	}
	.project-list{
		position:relative;
		display: block;
		/*bottom:20%;*/
		left:0;
		width:100%;
		height:90vh;
		margin-left:auto;
		margin-right:auto;
		/*margin-bottom:20em;*/

	}
	.project-list .next, 
	.project-list .prev{
		display: none;
	}

	.project-list .thumbnail{
		height:427px;
		width:100%;
	}
	.project-list .thumbnail img{
		width: 100%;
		height: 100%;
	}
	.project-list .imagebox{
		height:750px;
	}
	.project-list .grid-icon{
		display: block;
		position:fixed;
		left:1em;
		bottom:1em;
	}
}

@media (min-width: 1024px){

	.project-list-container {
		padding:50px 0 0 0;
	}

	.project-list .grid-icon{
		display: block;
		position:fixed;
		left:45px;
		bottom:5em;
	}
	.project-list .next, 
	.project-list .prev{
		display: block;
	}
	.project-list .thumbnail {
		z-index: 1000;
    	left: 310px;
    	width:579px;
    	height: auto;
	}

}
