.career-landing{
	position:relative;
	width:375px;
	height:620px;
	background-color: #fff;
	padding-top:0;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	
	font-weight: 100;
	

}

.career-landing .message{
	font-weight: normal;
	line-height: 130%;
	font-family: HelveticaNeueLTStd-Lt;
}
.career-landing .container{
	/*margin-top: 2rem;*/
}

.career-landing .thumbnail{
	position: relative;
	width: 375px;
	height: 292px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../../../images/careers-mobile.png);
}

.career-landing .career-box-container{
	width:100%;
	padding:5rem;
	background-color: rgba(252,252,252,1);
}

.career-landing .career-box-container:nth-child(odd){
	background-color: rgba(226,229,222,1);
}


@media (min-width: 768px){
	.career-landing{
		width: 100%;
		height:760px;
	}
	
	.career-landing .career-box-container{
		width: 50%;
	}
	

	.career-landing .thumbnail{
		position: relative;
		width: 100%;
		height: 100%;
		background-image: url(../../../images/careers-tablet.png);
		background-size: cover;
	}
}

@media (min-width: 768px) and (max-width: 1024px){ 
	.career-landing .career-box-container:nth-child(4n){
		background-color: rgba(226,229,222,1);
	}

	.career-landing .career-box-container:nth-child(4n-1){
		background-color: rgba(252,252,252,1);
	}

}

@media (min-width: 1024px){
	.career-landing .career-box-container{
		width:100%;
	}
	.career-landing .thumbnail{
		position:fixed;
		width: 50%;
		height: 100%;
		float: left;
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-position: center;
	
	}

	.career-landing > .container{
		width: 50%;
		height: 100%;
		float: right;

	}
}
