#header{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:3rem;
	background-color:#fff;
	margin:0;
	padding:0;
	z-index:3150;
}

.logo{
	height: 100%;
	width: 5rem;
	float: left;
	margin-left:35px;
	margin-top:.5rem;
	transform: scale(.8);
}
#header .menu-button{
	float:right;
}

.slide-enter-active, .slide-leave-active {
	transition: all .5s ease;
	transform: translateX(0%);
}
.slide-enter, .slide-leave-active {
	transform: translateX(100%);
}
/* Menu Button */

.menu-button {
	width: 60px;
	height:40px;
	display:block;

	/*height: 2px;*/
	position: absolute;
	top:0;
	right:.4em;

	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg) scale(.5,.5);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	z-index:100;
	
}

.menu-button span{
	display: block;
	position: absolute;
	height: 7px;
	width: 100%;
	background: #d3531a;
	/*border-radius: 5px;*/
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
	background-color: rgba(212,21,104,1);
}

.menu-button span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.menu-button span:nth-child(2) {
	top: 18px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.menu-button span:nth-child(3) {
	top: 36px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}



.open .menu-button span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: -3px;
	left: 8px;
}

.open .menu-button span:nth-child(2) {
	width: 0%;
	opacity: 0;
}

.open .menu-button span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 39px;
	left: 8px;
}

@media (min-width: 768px){
	.menu-button{
		display: none;
	}
	#menu-nav{
		display:block !important;
	}
	
} 

