html {
    background-color: #333333;
}

/* vertical-scrollbar */
div.vertical-scrollbar {
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 0;
    width: 31px;
    height: 100%;
}
div.vertical-scrollbar div.scroller {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
}

/* quick-menu */
div.main div.header ul.quick-menu {
    position: absolute;
    bottom: 54px;
    right: 17px;
    width: auto;
    height: 35px;
}
div.main div.header ul.quick-menu * {
    width: auto;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    display: block;
}
div.main div.header ul.quick-menu li {
    float: left;
}
div.main div.header ul.quick-menu li a {
    color: #262626;
    font-size: 9.375pt;
    font-weight: bold;
    padding: 0px 12.5px 0px 12.5px;
    -webkit-text-stroke: 0.5px transparent;
    cursor: pointer;
    background: -webkit-linear-gradient(#fefefe 30%, #dadada 50%, #f6f6f6);
    border-right: #B8B8B8 solid 1px;
    border-top: 1px solid #B8B8B8;
    border-bottom: 1px solid #B8B8B8;
}
div.main div.header ul.quick-menu li a:hover {
    color: #FFFFFF;
    background: -webkit-linear-gradient(#b5bcb8 30%, #627166 50%, #9da49e);
}
div.main div.header ul.quick-menu li a.disabled,
div.main div.header ul.quick-menu li a.disabled:hover {
    color: #B8B8B8;
    background: -webkit-linear-gradient(#f7f9f7 30%, #eef0ee 50%, #f5f7f5);
    cursor: default;
}
div.main div.header ul.quick-menu li.first a {
    border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    border-left: 1px solid #B8B8B8;
}
div.main div.header ul.quick-menu li.last a {
    border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
}
div.main div.header ul.quick-menu li a span.bug {
    width: 18px;
    background-image: url(images/shape-type1.gif);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
div.main div.header ul.quick-menu li a:hover span.bug {
    background-position: 0px -39px;
}
div.main div.header ul.quick-menu li a.disabled span.bug,
div.main div.header ul.quick-menu li a.disabled:hover span.bug {
    background-position: 0px -76px;
    cursor: default;
}

/* navigation menu */
div.main div.header ul.navigation {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    width: 100%;
    height: 35px;
    background: rgba(246,246,246,1);
    background: -moz-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 28%, rgba(235,235,235,1) 30%, rgba(241,241,241,1) 71%, rgba(247,247,247,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246,246,246,1)), color-stop(28%, rgba(246,246,246,1)), color-stop(30%, rgba(235,235,235,1)), color-stop(71%, rgba(241,241,241,1)), color-stop(100%, rgba(247,247,247,1)));
    background: -webkit-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 28%, rgba(235,235,235,1) 30%, rgba(241,241,241,1) 71%, rgba(247,247,247,1) 100%);
    background: -o-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 28%, rgba(235,235,235,1) 30%, rgba(241,241,241,1) 71%, rgba(247,247,247,1) 100%);
    background: -ms-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 28%, rgba(235,235,235,1) 30%, rgba(241,241,241,1) 71%, rgba(247,247,247,1) 100%);
    background: linear-gradient(to bottom, rgba(246,246,246,1) 0%, rgba(246,246,246,1) 28%, rgba(235,235,235,1) 30%, rgba(241,241,241,1) 71%, rgba(247,247,247,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#f7f7f7', GradientType=0 );
    border-top: #B8B8B8 solid 1px;
    border-bottom: #B8B8B8 solid 1px;
}
div.main div.header ul.navigation * {
    width: auto;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    display: block;
}
div.main div.header ul.navigation li {
    position: relative;
    top: 0px;
    left: 0px;
    float: left;
    
    /* Model box */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div.main div.header ul.navigation li a {
    color: #262626;
    font-size: 9.375pt;
    padding: 0px 8.75px 0px 8.75px;
    font-weight: bold;
    -webkit-text-stroke: 0.5px transparent;
    border-right: #B8B8B8 solid 1px;
    background: rgba(235,253,236,1);
    background: -moz-linear-gradient(top, rgba(235,253,236,1) 0%, rgba(235,253,236,1) 28%, rgba(216,233,218,1) 30%, rgba(225,242,227,1) 71%, rgba(235,252,238,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,253,236,1)), color-stop(28%, rgba(235,253,236,1)), color-stop(30%, rgba(216,233,218,1)), color-stop(71%, rgba(225,242,227,1)), color-stop(100%, rgba(235,252,238,1)));
    background: -webkit-linear-gradient(top, rgba(235,253,236,1) 0%, rgba(235,253,236,1) 28%, rgba(216,233,218,1) 30%, rgba(225,242,227,1) 71%, rgba(235,252,238,1) 100%);
    background: -o-linear-gradient(top, rgba(235,253,236,1) 0%, rgba(235,253,236,1) 28%, rgba(216,233,218,1) 30%, rgba(225,242,227,1) 71%, rgba(235,252,238,1) 100%);
    background: -ms-linear-gradient(top, rgba(235,253,236,1) 0%, rgba(235,253,236,1) 28%, rgba(216,233,218,1) 30%, rgba(225,242,227,1) 71%, rgba(235,252,238,1) 100%);
    background: linear-gradient(to bottom, rgba(235,253,236,1) 0%, rgba(235,253,236,1) 28%, rgba(216,233,218,1) 30%, rgba(225,242,227,1) 71%, rgba(235,252,238,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebfdec', endColorstr='#ebfcee', GradientType=0 );
    
    /* Model box */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
div.main div.header ul.navigation li.right {
    float: right;
}
div.main div.header ul.navigation li.right > a {
    border-right: none;
    border-left: #B8B8B8 solid 1px;
    background: rgba(254,254,254,1);
    background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 28%, rgba(220,220,220,1) 29%, rgba(233,233,233,1) 71%, rgba(245,245,245,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(28%, rgba(254,254,254,1)), color-stop(29%, rgba(220,220,220,1)), color-stop(71%, rgba(233,233,233,1)), color-stop(100%, rgba(245,245,245,1)));
    background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 28%, rgba(220,220,220,1) 29%, rgba(233,233,233,1) 71%, rgba(245,245,245,1) 100%);
    background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 28%, rgba(220,220,220,1) 29%, rgba(233,233,233,1) 71%, rgba(245,245,245,1) 100%);
    background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 28%, rgba(220,220,220,1) 29%, rgba(233,233,233,1) 71%, rgba(245,245,245,1) 100%);
    background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(254,254,254,1) 28%, rgba(220,220,220,1) 29%, rgba(233,233,233,1) 71%, rgba(245,245,245,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f5f5f5', GradientType=0 );
}
div.main div.header ul.navigation li a.submenu {
    cursor: default;
}
div.main div.header ul.navigation li a:hover {
    color: #FFFFFF;
    background: rgba(181,188,184,1);
    background: -moz-linear-gradient(top, rgba(181,188,184,1) 0%, rgba(181,188,184,1) 28%, rgba(101,116,105,1) 30%, rgba(134,144,136,1) 71%, rgba(151,158,152,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(181,188,184,1)), color-stop(28%, rgba(181,188,184,1)), color-stop(30%, rgba(101,116,105,1)), color-stop(71%, rgba(134,144,136,1)), color-stop(100%, rgba(151,158,152,1)));
    background: -webkit-linear-gradient(top, rgba(181,188,184,1) 0%, rgba(181,188,184,1) 28%, rgba(101,116,105,1) 30%, rgba(134,144,136,1) 71%, rgba(151,158,152,1) 100%);
    background: -o-linear-gradient(top, rgba(181,188,184,1) 0%, rgba(181,188,184,1) 28%, rgba(101,116,105,1) 30%, rgba(134,144,136,1) 71%, rgba(151,158,152,1) 100%);
    background: -ms-linear-gradient(top, rgba(181,188,184,1) 0%, rgba(181,188,184,1) 28%, rgba(101,116,105,1) 30%, rgba(134,144,136,1) 71%, rgba(151,158,152,1) 100%);
    background: linear-gradient(to bottom, rgba(181,188,184,1) 0%, rgba(181,188,184,1) 28%, rgba(101,116,105,1) 30%, rgba(134,144,136,1) 71%, rgba(151,158,152,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bcb8', endColorstr='#979e98', GradientType=0 );
}
div.main div.header ul.navigation li li a:hover {
    background: none;
}
div.main div.header ul.navigation li ul * {
    height: 27.5px;
    line-height: 27.5px;
}
div.main div.header ul.navigation li ul {
    position: absolute;
    top: 28px;
    left: -1px;
    visibility: hidden;
    height: auto;
    border: #B8B8B8 solid 1px;
    background: rgba(235,253,236,1);
    background: -moz-linear-gradient(top, rgba(235,253,236,1) 0%, rgba(235,253,236,1) 23%, rgba(224,241,226,1) 36%, rgba(224,241,226,1) 68%, rgba(235,252,238,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,253,236,1)), color-stop(23%, rgba(235,253,236,1)), color-stop(36%, rgba(224,241,226,1)), color-stop(68%, rgba(224,241,226,1)), color-stop(100%, rgba(235,252,238,1)));
    background: -webkit-linear-gradient(top, rgba(235,253,236,1) 0%, rgba(235,253,236,1) 23%, rgba(224,241,226,1) 36%, rgba(224,241,226,1) 68%, rgba(235,252,238,1) 100%);
    background: -o-linear-gradient(top, rgba(235,253,236,1) 0%, rgba(235,253,236,1) 23%, rgba(224,241,226,1) 36%, rgba(224,241,226,1) 68%, rgba(235,252,238,1) 100%);
    background: -ms-linear-gradient(top, rgba(235,253,236,1) 0%, rgba(235,253,236,1) 23%, rgba(224,241,226,1) 36%, rgba(224,241,226,1) 68%, rgba(235,252,238,1) 100%);
    background: linear-gradient(to bottom, rgba(235,253,236,1) 0%, rgba(235,253,236,1) 23%, rgba(224,241,226,1) 36%, rgba(224,241,226,1) 68%, rgba(235,252,238,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebfdec', endColorstr='#ebfcee', GradientType=0 );
    padding: 0px 62.5px 0px 0px;
}
div.main div.header ul.navigation li.right > ul {
    left: 0px;
    padding: 0px 0px 0px 0px;
}
div.main div.header ul.navigation li.right ul {
    background: rgba(243,243,243,1);
    background: -moz-linear-gradient(top, rgba(243,243,243,1) 0%, rgba(243,243,243,1) 23%, rgba(220,220,220,1) 36%, rgba(232,232,232,1) 68%, rgba(243,243,243,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243,243,243,1)), color-stop(23%, rgba(243,243,243,1)), color-stop(36%, rgba(220,220,220,1)), color-stop(68%, rgba(232,232,232,1)), color-stop(100%, rgba(243,243,243,1)));
    background: -webkit-linear-gradient(top, rgba(243,243,243,1) 0%, rgba(243,243,243,1) 23%, rgba(220,220,220,1) 36%, rgba(232,232,232,1) 68%, rgba(243,243,243,1) 100%);
    background: -o-linear-gradient(top, rgba(243,243,243,1) 0%, rgba(243,243,243,1) 23%, rgba(220,220,220,1) 36%, rgba(232,232,232,1) 68%, rgba(243,243,243,1) 100%);
    background: -ms-linear-gradient(top, rgba(243,243,243,1) 0%, rgba(243,243,243,1) 23%, rgba(220,220,220,1) 36%, rgba(232,232,232,1) 68%, rgba(243,243,243,1) 100%);
    background: linear-gradient(to bottom, rgba(243,243,243,1) 0%, rgba(243,243,243,1) 23%, rgba(220,220,220,1) 36%, rgba(232,232,232,1) 68%, rgba(243,243,243,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#f3f3f3', GradientType=0 );
}
div.main div.header ul.navigation li ul ul {
    position: absolute;
    top: -1px;
    left: 100%;
}
div.main div.header ul.navigation li:hover > ul {
    visibility: visible;
}
div.main div.header ul.navigation li ul li {
    min-width: 100%;
}
div.main div.header ul.navigation li ul li a,
div.main div.header ul.navigation li ul li a:hover {
    font-weight: normal;
    color: #666666;
    width: 100%;
    min-width: 62.5px;
    white-space: nowrap;
    padding: 0px 8.75px 0px 26.25px;
    border-right: none;
    border-top: none;
    border-bottom: none;
    background-image: url(images/shape-type2.gif);
    background-position: 0px 0px;
    background-repeat: no-repeat;
}
div.main div.header ul.navigation li ul li a:hover {
    color: #262626;
    background-position: 0px -37.5px;
}
div.main div.header ul.navigation li ul li a.submenu {
    background-position: 0px -112.5px;
    cursor: default;
}
div.main div.header ul.navigation li ul li a.submenu:hover {
    background-position: 0px -112.5px;
}
div.main div.header ul.navigation li a.disabled,
div.main div.header ul.navigation li a.disabled:hover {
    color: #AAAAAA;
    background-position: 0px -150px;
    cursor: default;
}
div.main div.header ul.navigation ul {
    z-index: 2000;
    
    /* Shadows */
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.2);
}
div.main div.header ul.navigation ul ul {
    z-index: 3000;
}
div.main div.header ul.navigation ul ul ul {
    z-index: 4000;
}
div.main div.header ul.navigation ul ul ul ul {
    z-index: 5000;
}
div.main div.header ul.navigation ul ul ul ul ul {
    z-index: 6000;
}

/* section-notes */
div.section-notes {
    display: none;
    width: 1156.25px;
    margin: 18.75px auto;
}
div.section-notes div.top {
    height: 45px;
    background: url(images/section-notes-top.png) no-repeat left top;
}
div.section-notes div.top h3 {
    font-size: 20pt;
    height: 45px;
    line-height: 45px;
    padding-left: 12.5px;
    text-transform: uppercase;
    color: #262626;
    background: url(images/section-notes-top-h3.png) no-repeat right top;
}
div.section-notes div.middle {
    overflow: hidden;
    background: url(images/section-notes-middle.png) no-repeat left bottom;
}
div.section-notes div.middle div.text {
    padding: 6.25px 12.5px;
    white-space: pre;
    font-size: 11.25pt;
    line-height: 15pt;
    background: url(images/section-notes-middle-text.png) no-repeat right bottom;
}

/* table */
div.table {
    width: 1156.25px;
    margin: 18.75px auto;
    border: 1px solid #b8b8b8;
    border-radius: 11px;
    overflow: hidden;
}

/* table : head */
div.table div.head {
    position: relative;
    padding-left: 12.5px;
    height: 44px;
    background-color: #ffffff;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}
div.table div.head h3 {
    font-size: 13.125pt;
    line-height: 44px;
    color: #262626;
}

div.table div.head div.buttons {
    position: absolute;
    top: 0;
    right: 0;
}
div.table div.head div.buttons a {
    display: block;
    float: left;
    height: 44px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 45px;
    padding: 0 25px;
    background: url(images/table-head-button.png) repeat-x right top;
    border-left: 1px solid #B8B8B8;
}
div.table div.head div.buttons a:hover {
    background-position: right center;
}
div.table div.head div.buttons a.disabled {
    background-position: right bottom;
    color: #999999;
    cursor: default;
}
div.table div.head div.buttons a:last-child {
    border-top-right-radius: 11px;
}

/* table : notes */
div.table div.notes {
    position: relative;
    display: none;
    border-top: 1px solid #B8B8B8;
    padding: 6.25px;
    background-color: #FFFFFF;
}
div.table div.notes a.toggle {
    display: table;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 18.75px;
    background: url(images/table-notes-toggle-closed.png) no-repeat left;
}
div.table div.notes a.clear {
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 16.25px;
    background: url(images/table-filter-clear.png) no-repeat;
}
div.table div.notes a.clear span {
    display: none;
}
div.table div.notes a.open {
    background: url(images/table-notes-toggle-open.png) no-repeat left;
}
div.table div.notes div.text {
    display: none;
    overflow: hidden;
}
div.table div.notes.open div.text {
    display: block;
}
div.table div.notes.open a.toggle {
    background: url(images/table-notes-toggle-open.png) no-repeat left;
}
div.table div.notes div.text div.inner {
    padding: 6.25px 3.75px;
    white-space: pre;
    font-size: 11.25pt;
    line-height: 15pt;
}

/* table : filter notes */
div.table div.filter.notes table td {
    padding-right: 6.25px;
    vertical-align: middle;
}
div.table div.filter.notes table td:first-child {
    font-weight: bold;
}
div.table div.filter.notes table a.remove {
    display: block;
    width: 15px;
    height: 16.25px;
    background: url(images/table-filter-clear.png) no-repeat;
}
div.table div.filter.notes table a.remove span {
    display: none;
}

/* table : table */
div.table table.rows {
    border-top: 1px solid #B8B8B8;
    width: 100%;
    table-layout: fixed;
}

/* table : table : th */
div.table table.rows th {
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
    padding: 5px 25px 11.25px 10px;
    cursor: default;
    background: #FFFFFF url(images/table-th.png) no-repeat left bottom;
}
div.table table.rows th.first {
    width: 27.5px;
    padding: 0;
    background-position: right bottom;
}
div.table table.rows th.last {
    width: 27.5px;
    padding: 0;
    background-position: center bottom;
}
div.table table.rows th a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    cursor: inherit;
    
}
div.table table.rows th a span {
    display: block;
    overflow: hidden;
}
div.table table.rows th.clear {
    background:
        url(images/table-th.png) no-repeat right bottom,
        url(images/table-sort-clear.gif) no-repeat right 8px top 8px,
        #ffffff;
    cursor: pointer;
}

/* table : table : th sortable */
div.table table.rows th.sortable {
    cursor: pointer;
}
div.table table.rows th.sortable a {
    font-weight: bold;
}
div.table table.rows th.first.sortable {
    background-position: right bottom, right 5px top 5px;
}
div.table table.rows th.sortable.asc {
    background:
        url(images/table-th.png) no-repeat left bottom,
        url(images/table-sort-asc.gif) no-repeat right 5px top 5px,
        #ffffff;
}
div.table table.rows th.sortable.desc {
    background:
        url(images/table-th.png) no-repeat left bottom,
        url(images/table-sort-desc.gif) no-repeat right 5px top 5px,
        #ffffff;
}

/* table : table : td */
div.table table.rows td {
    border-top: 1px solid #B8B8B8;
    border-left: 1px solid #B8B8B8;
    padding: 6px 10px 6px;
    height: 53px;
    vertical-align: top;
    background: #EFF1F0 url(images/table-row.png) repeat-x;
    cursor: default;
}
div.table table.rows td:first-child {
    border-left: none;
}
div.table table.rows td div.cell-content {
    overflow: hidden;
    height: 53px;
}
div.table table.rows td div.cell-content img {
    height: 53px;
}

/* table : table : last column */
div.table table.rows td:last-child {
    padding: 0;
    padding-left: 6.25px;
}
div.table table.rows td:last-child div.cell-content {
    display: table;
    width: 100%;
    height: 65px;
}
div.table table.rows td:last-child div.cell-content > div {
    display: table-cell;
    vertical-align: top;
    padding: 6.25px 0 6.25px;
    border-left: 1px solid #B8B8B8;
}
div.table table.rows td:last-child div.cell-content > div:first-child {
    border-left: none;
}
div.table table.rows td:last-child div.cell-content > div.button {
    padding: 0;
    width: 1px;
}
div.table table.rows td:last-child div.cell-content > div.button a {
    display: block;
    width: 28px;
    height: 65px;
}
div.table table.rows td:last-child div.cell-content > div.button a span {
    display: none;
}
div.table table.rows td:last-child div.cell-content > div.button.up a {
    background: url(images/table-up.png) no-repeat top;
}
div.table table.rows td:last-child div.cell-content > div.button.down a {
    background: url(images/table-down.png) no-repeat top;
}
div.table table.rows td:last-child div.cell-content > div.button.delete a {
    background: url(images/table-delete.png) no-repeat top;
}
div.table table.rows td:last-child div.cell-content > div.button a:hover {
    background-position: center;
}
div.table table.rows td:last-child div.cell-content > div.button.disabled a {
    background-position: bottom;
    cursor: default;
}

/* table : table : edit button */
div.table table.rows td.edit {
    padding: 0;
    width: 27.5px;
}
div.table table.rows td.edit a {
    display: block;
    width: 26px;
    height: 65px;
    background: url(images/table-edit.png) no-repeat top;
}
div.table table.rows td.edit a span {
    display: none;
}
div.table table.rows td.edit a:hover {
    background-position: center;
}
div.table table.rows td.edit.disabled a {
    cursor: default;
    background-position: bottom;
}

/* table : foot */
div.table div.foot {
    position: relative;
    height: 30px;
    padding-top: 13.75px;
    border-top: 1px solid #b8b8b8;
    background-color: #ffffff;
    background: url(images/table-foot.png) repeat-x;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
}

/* table : foot : navigator */
div.table div.foot div.navigator {
    display: none;
    position: relative;
}

/* table : foot : navigator : buttons */
div.table div.foot div.navigator ul.buttons li {
    display: inline;
}
div.table div.foot div.navigator ul.buttons li a {
    display: block;
    float: left;
    height: 28.75px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 27.5px;
    border-top: 1px solid #B8B8B8;
    border-right: 1px solid #B8B8B8;
}
div.table div.foot div.navigator ul.buttons li a.prev {
    width: 53px;
    padding-left: 31px;
    background: url(images/table-navigator-prev.png) no-repeat left top;
    border-bottom-left-radius: 11px;
}
div.table div.foot div.navigator ul.buttons li a.current {
    width: 212.5px;
    padding-left: 16.25px;
    background: url(images/table-navigator-current.png) no-repeat left top;
    white-space: nowrap;
}
div.table div.foot div.navigator ul.buttons li a.current span.page {
    margin-left: 18.75px;
}
div.table div.foot div.navigator ul.buttons li a.next {
    width: 67.5px;
    padding-left: 16.25px;
    background: url(images/table-navigator-next.png) no-repeat left top;
}
div.table div.foot div.navigator ul.buttons li a.open {
    background-position: right top;
}
div.table div.foot div.navigator ul.buttons li a.open:hover {
    background-position: right bottom;
}
div.table div.foot div.navigator ul.buttons li a:hover {
    background-position: left bottom;
}
div.table div.foot div.navigator ul.buttons li a.disabled {
    background-position: right top;
    color: #999999;
    cursor: default;
}

/* table : foot : navigator : pages */
div.table div.foot div.navigator div.pages {
    display: none;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 403.75px;
    max-height: 275px;
    overflow: auto;
    background: url(images/table-navigator-pages.png) no-repeat right top;
    background-attachment: local;
    padding-top: 6.25px;
    padding-bottom: 8.75px;
    border-left: 1px solid #B8B8B8;
}
div.table div.foot div.navigator div.pages ul li {
    display: inline;
}
div.table div.foot div.navigator div.pages ul li a {
    display: block;
    float: left;
    width: 28.75px;
    height: 28.75px;
    padding: 8.75px 0 0 10px;
    line-height: 28.75px;
    text-decoration: none;
    text-align: center;
    background: url(images/table-navigator-pages-item.png) no-repeat right top;
}
div.table div.foot div.navigator div.pages ul li a.selected {
    background-position: right center;
}
div.table div.foot div.navigator div.pages ul li a:hover {
    background-position: right bottom;
}

/* table : foot : navigator : delete all */
div.table div.foot a.delete-all {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 27.5px;
    height: 41.25px;
    background: url(images/table-delete-all.png) no-repeat;
    border-bottom-right-radius: 11px;
}
div.table div.foot a.delete-all span {
    display: none;
}
div.table div.foot a.delete-all:hover {
    background-position: center;
}
div.table div.foot a.delete-all.disabled {
    background-position: bottom;
    cursor: default;
}
