.submit-button{
	position: relative;
	float: right;
	width: 15rem;
	height:3em;
	background-color: rgba(212,21,104,1);
	z-index:10;
	color: #fff;
	font-family: "MinionPro";
	font-size:1.1rem;
	font-style: italic;
	cursor:pointer;
	/*border: 1px solid #ccc;*/

}

.submit-button span{
	display:block;
	position: absolute;
  	top: 50%;
  	width: 100%;
  	text-align: center;
  	transform: translateY(-50%);
}

.submit-button .processing{
	display:block;
	position:relative;
	width:30px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
}