/*@font-face {
	font-family: HelveticaNeue;
	src: url("../../../fonts/helveticaneue.otf") format("opentype");
}

@font-face {
	font-family: MinionPro;
	src: url("../../../fonts/Font1_MinionPro-MediumIt.otf") format("opentype");
}*/

body{

	font-family: "sofia-pro-soft";
	font-family: "sofia-pro";
	font-family: "sofia-pro-condensed";
}

h1{
	font-weight:bold;
	font-size:2rem;
	margin:.5rem;
}

h2{
	font-weight:bold;
	font-size:1.5rem;
	margin:.5rem;
}


svg{
	fill: rgba(212,21,104,1);
}


.loader{
	background-color: rgba(212,21,104,1);
	margin-left: auto;
	margin-right: auto;
	height: 5rem;
	width: 200px;
	text-align: center;
	padding: 1em;
	vertical-align: top;
}



