div.axis-field-textarea {
    width: 875px;
    height: 101px;
    background: url(images/bg.png) no-repeat;
}

/* textarea */
div.axis-field-textarea textarea {
    display: none;
}

/* content */
div.axis-field-textarea div.content {
    float: left;
    width: 815px;
    height: 59px;
    cursor: default;
    overflow: hidden;
}
div.axis-field-textarea div.content div.inner {
    padding: 6.25px 10px 6.25px;
}

/* label */
div.axis-field-textarea label {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 13px;
    line-height: 24px;
    color: #252525;
}
div.axis-field-textarea label.required {
    font-weight: bold;
}

/* buttons */
div.axis-field-textarea a.edit {
    display: block;
    float: left;
    width: 28px;
    height: 65px;
    border-left: 1px solid #B2B2B2;
    border-right: 1px solid #B2B2B2;
    background: url(images/edit.png) no-repeat top;
}
div.axis-field-textarea a.delete {
    display: block;
    float: left;
    width: 28px;
    height: 65px;
    border-left: 1px solid #B2B2B2;
    border-right: 1px solid #B2B2B2;
    background: url(images/delete.png) no-repeat top;
}
div.axis-field-textarea a:hover {
    background-position: bottom;
}
div.axis-field-textarea a span {
    display: none;
}
