.career-box-container .thumbnail{

	width: 375px;
	height: 292px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../../../images/careers-mobile.png);
}

.career-box-container .message{
	margin-top: 1rem;
	font-family: HelveticaNeueLTStd-Lt;	
	line-height: 200%;
	font-size: 15px;
	
}
.career-box-container h2{
	margin-left: 0;
	font-family: "sofia-pro";
	font-size: 2rem;
}

@media (min-width: 768px){
	.career-box-container{
		position: relative;
		width: 50%;
		height: 50%;
		float: left;
		padding: 10px;
		padding-top: 0;
	}	
}