/* RESET STYLES */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: inherit;
    font-style: inherit;
    vertical-align: baseline;
}
ol, ul {
    list-style: none;
}
img {
    display: block;
    border: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
}
input[type=submit],
input[type=button] {
    padding: 2.5px 10px;
    height: 27.5px;
    font-size: 10pt;
}
input[type=text],
input[type=password]{
    height: 20px;
    border-top: 1px solid #6D6F70;
    border-right: 1px solid #C9CBCC;
    border-bottom: 1px solid #D3D5D6;
    border-left: 1px solid #C9CBCC;
}
textarea {
    overflow: auto;
}
select {
    font-size: 10pt;
}

/* HTML5 FOR OLDER BROWSERS */
article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
    display: block;
}

/* HTML AND BODY */
html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9.375pt;
    color: #404040;
}
a {
    color: #262626;
}

/* MAIN */
div.main {
    position: relative;
    top: -10px;
    width: 90%;
    height: auto;
    min-height: 510px;
    margin: 0 auto;
    background-color: #F5F8F6;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 7px #000000;
    -moz-box-shadow: 0px 0px 7px #000000;
    box-shadow: 0px 0px 7px #000000;
}
div.main.preloader {
    background: #F5F8F6 url(images/loader.gif) no-repeat center;
}
div.main:after {
    content: ".";
    display: block;
    height: 0px;
    clear: both;
    visibility: hidden;
}

/* MAIN : HEADER */
div.main div.header {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 162.5px;
}

/* MAIN : HEADER : LOGO */
div.main div.header a.logo {
    position: absolute;
    top: 15px;
    left: 6px;
}
div.main div.header a.logo img {
    height: 87.5px;
}

/* MAIN : CONTENT */
div.main div.content {
    padding-bottom: 35px;
}

/* MAIN : FOOTER */
div.main div.footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 9.375pt;
    color: #BBBBBB;
    -webkit-text-stroke: 0.5px transparent;
}
div.main div.footer span.logo {
    width: 150px;
    height: 35px;
    background-image: url(images/logo-type1.gif);
    background-position: center left;
    background-repeat: no-repeat;
    display: inline-block;
}
