.contact{
	width:375px;
	margin-left: auto;
	margin-right: auto;
	text-align:left;
	background-color:rgba(226,229,222,1);
}

.contact .call-to-action{
	display:none;
}

.contact .container{
	background-color:rgba(226,229,222,1);
	width:100%;
	height:20rem;
	padding-top:10%;
	padding-left:10%;

}

.contact .thumbnail{
	width:100%;
	height:320px;
	background-image: url(../../../images/contact-mobile.png);
}

.contact .caption{
	width:7rem;
	font-size:2em;
}

.contact .contact-form{
	width:100%;
	height:38rem;
	background-color:#fff;
	padding:40px;
}

.contact .accent-box{
	display:none;
}

.contact-form input{
	width:100%;
	height:4em;
	margin-top:.5rem;
	margin-bottom:.5rem;
	border: 1px solid #ccc;
	padding: 5%;
}

.contact-form input, .contact-form textarea{
	width:94%;
	margin-left:10px;
	margin-right:10px;
}

.contact-form ::-webkit-input-placeholder{
	 font-style: italic;
}

.contact-form ::-moz-placeholder{
	 font-style: italic;
}

.contact .phone{
	position:relative;
	top:5px;
	width:15px;
	height:15px;
	fill:rgba(212,21,104,1);
	margin-right:8px;
}

.contact-form textarea{
	height:15rem;
	margin-top:.5rem;
	margin-bottom:.5rem;
	resize: none;
	border: 1px solid #ccc;
	padding: 5%;
}

.contact-form-cta-box{
	display:none;
}

.alert-panel{
	position:fixed;
	top:0;
	z-index:1000;
	/*transition:all 1s ease-in-out;*/
}

/**
*FORM VALIDATION STUFF
*/

input:focus:invalid, textarea:focus:invalid{
	background: #fff url(../../../svg/invalid.svg) no-repeat 98% 5px;
	/*box-shadow: 0 0 5px #d45252;
    border-color: #b03535;*/
}

input:focus:valid, textarea:focus:valid{
	background: #fff url(../../../svg/valid.svg) no-repeat 99% 5px;
	/*box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;*/
}

input:placeholder-shown{
	background: none;
}

/**
*END FORM VALIDATION STUFF
*/


@media (min-width: 768px){
	.contact{
		width:100%;
		top:0;
	}
	.contact .thumbnail{
		position:absolute;
		top:0;
		left: 0;
		width:100%;	
		height:400px;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url(../../../images/contact-tablet.png);

	}
	
	.contact .call-to-action{
		display:none;
	}

	.contact .contact-form-container{
		position:relative;

		width:25rem;
		/*height:620px;*/
		margin-left:40%;
		margin-top:5rem;	
		/*opacity: 0;*/
	}
	.contact .contact-form{
		text-align:left;
	}

	.contact .container{
		position:relative;
		top:20rem;
	}
	
	.submit-button{
		position:absolute;
		right:0;
	}
}

@media (min-width: 1024px){

	.contact .container{
		position:absolute;
		top:345px;
		width:100%;
		left:0;
	}

	.contact .thumbnail{
		position:absolute;
		top:0;
		left: 0;
		width:100%;	
		height:400px;
		background-size: cover;
		background-repeat: no-repeat;
		background-image: url(../../../images/contact-tablet.png);

	}

	.contact .contact-form-container{
		position:relative;
		width:40rem;
		height:35rem;
		margin-right:20%;
		margin-top:340px;
	}

	.contact .contact-form{
		display:block;
		position:absolute;
		right:1rem;
		top:1rem;
		z-index:20;
		width:80%;
		height:86%;
		/*height:100%;*/
		text-align:left;
	}

	.contact-form input{
		margin-top:0;
		padding-top:0;
		padding:3%;
		width:47%;
		float:left;
		margin-left: none;
		margin-right: none;
		margin:5px;
	}

	.contact .call-to-action{
		display:block;
		position: absolute;
		right: 0;
		width: 15rem;
		height: 100%;
		background-color: rgba(212,21,104,1);
		z-index:10;
		color: #fff;
		font-family: "minion-pro";
		font-size:1.1rem;
		font-style: italic;

	}

	/*company field*/
	.contact-form input:nth-child(5){
		width:96%;
	}

	.contact-form textarea{
		margin: 5px;
		width:96%;
		height:200px;
	}

	.submit-button{
		position:absolute;
		bottom:.5rem;
	}
}