<div>
	<div class="project-grid page-container">
		<div class="thumbnail">
			<img src="./images/project-grid-mobile.png" alt="">
		</div>
		<div class="info">
			<h3>Honda Powersports</h3>		

			<hr />
			<div class="project-name">
			PROJECT NAME GOES HERE
			</div>

		</div>
	</div>	
</div>

