.project-grid{
	display: block;
	position:relative;
	width:100%;
	height:145px;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #ccc;
}

.project-grid .thumbnail{
	position:absolute;
	display:block;
	left:0;
	height:100px;
	width:145px;

}

.project-grid .info{
	position:absolute;
	display:block;
	left:145px;
	height:100%;
	margin-top:.5rem;
}

.project-grid .info h3{
	font-size:1.5rem;
	font-weight:300;
	color: rgba(212,21,104,1);
}

.project-grid .info hr{
	text-align:left;
	margin-left:0;
	border: 0;
	color: rgba(212,21,104,1);
	background-color: rgba(212,21,104,1);
	height: 3px;
	width: 20%;
}

.project-grid .info .project-name{
	width:150px;
	font-size:1.8rem;
}

/*.project-grid-md{
	display: none;
}*/

.grid-icon{
	display:none;
}

@media (min-width: 768px){
.project-grid-container{
	background-color:rgba(226,229,222,1);
	padding-top:10%;

}
.project-grid{
	display: none;
}
.project-grid-md{
	position:relative;
	display: block;
	bottom:20%;
	left:0;
	width:100%;
	height:100vh;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20em;

}
.project-grid-md .thumbnail{
	height:427px;
}
.project-grid-md .thumbnail img{
	width: 100%;
	height: 100%;
}
.project-grid-md .imagebox{
	height:750px;
}
.grid-icon{
	display: block;
	position:fixed;
	left:1em;
	bottom:1em;
}
}