.project-detail{
	position:relative;
	width:100%;
	/*padding-top:2em;*/
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	color: rgba(212,21,104,1);
	line-height: 120%;
	background-color: #fff;
}

.project-detail .details-cta{
	position:absolute;
	width:250px;
	height:3em;
	right:10%;
	bottom:18rem;
	background-color: rgba(212,21,104,1);
	z-index:50;
	
}

.project-detail hr{
	text-align:left;
	margin-left:0;
	border: 0;
	color: rgba(212,21,104,1);
	background-color: rgba(212,21,104,1);
	height: 3px;
	width: 50px;
}

.project-detail .thumbnail{
	display:block;
	width:100%;
	height:100%
}

.thumbnail-background{
	display:block;
	width:100%;
	height:100%;
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center;

}

.project-detail .thumbnail img{
	width:100%;
	height:100%;
}


.project-detail .thumbnail .video-embed{
	position:absolute;
	left:0;
	top:0;
	z-index:10;

}

.project-detail .grid-icon{
	position:absolute;
	left:1em;
	bottom:1em;
}

.project-detail .container{
	position:relative;
	width:85%;
	height:200px;
	margin-left:10%;
	margin-top:18%;
	text-align:left;
}

.project-detail .details{
	width:100%;
	background-color: #fff;
	/*height:30rem;*/
	/*background-color:#fff;
	left:0;*/
}

.project-detail .details .description{
	color: #000;
	font-family: HelveticaNeueLTStd-Lt;
	
}

.project-detail .message{
	position:relative;
	text-align: left;
	font-size:2.5rem;
	top:10px;
	color: #000;
	height:100px;
	text-transform: uppercase;
	z-index:100;
	line-height:100%;
}

h2.details-title{
	margin-left: 0;
	color:#000;
	text-transform:uppercase;
}

.spinner-container{
	display: none;
	position: absolute;
	top:30%;
	margin-left:auto;
	margin-right:auto;
}

.controls{
	display: none;
}

@media (min-width: 768px){
	.project-detail .container{
		position:relative;
		margin-top: -5%;
		background-color: #fff;
		padding: 2%;
		z-index:40;
	}

	.project-detail .details-cta{
	/*	width: 50%;*/
		bottom: 10rem;

	}
	
	.down-arrow-button{
		width: 100%;
	}

	

}

@media (min-width:1024px){
	.play-pause{
		bottom: 200px;
	}

	.controls{
		display: block;
		position:relative;
		width:52%;
		left: 28%;
		bottom:7rem;
		height:30px;
	}

	.progress-bar{
		position:relative;
		float:right;
		top:30%;
		width:96%;
		height:2px;
		background-color:#fff;
	}

	.progress{
		position:absolute;
		left:0;
		top:0;
		background-color:rgba(212,21,104,1);
		width:20%;
		height:100%;
		transition: width .4s;
	}

	.play-pause{

		width: 20px;
		height: 20px;
		position: absolute;
	    left: 0;
		top: 0;
		cursor:pointer;
	}

	.play-pause svg{
		fill: #fff;
	}

	.play-pause .play svg{
		position: relative;
		top: 0;
		left: 0;
		z-index: 100;
		width: 20px;
		height: 20px;
	}

	.play-pause .pause svg{
		position: relative;
		top: -5px;
		left: 0;
		z-index: 100;
		width: 30px;
		height: 30px;
	}

}