.alert-panel{
    position:relative;
    height:75px;
    width: 100%;
    background-color: rgba(212,21,104,1);
    text-align: center;
    color: #fff;
    font-family: HelveticaNeueLTStd-Lt;
}

.alert-panel .close{
    position:absolute;
    top:.5em;
    right:.5em;

}

.alert-panel h1{
    padding-top:5px;
    text-tranform: uppercase;
    font-size: 2em;
    font-weight: 200;
}

.alert-panel .message{
    font-size:.5em;

}

.close svg{
    fill:#fff;
    cursor:pointer;
}